* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  /* background-color: #70b8e9; */
  background-color: rgb(105, 105, 231);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__container {
  width: 90%;
  min-height: 500px;
  max-width: 600px;
  height: 80%;
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 16px 32px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__container h2 {
  font-weight: 500;
  font-size: 25px;
  margin-top: 20px;
}

.app__container input {
  width: 400px;
  max-width: 30rem;
  border: none;
  outline: none;
  margin-top: 1.5rem;
  padding: 1rem 1.2rem;
  margin-bottom: 0;
  border-radius: 0.5rem;
  background-color: rgba(226, 212, 212, 0.6);
  font-size: 1.2rem;
  font-weight: 300;
  transition: 0.2s ease-out;
}

.app__container input:focus {
  background-color: rgba(207, 192, 192, 0.6);
}

.weatherInfo__city {
  margin-top: 30px;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(105, 105, 231); */
  background-color: rgb(105, 105, 231);
  padding: 1rem;
  font-weight: 100;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.weatherInfo__date {
  font-size: 30px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.weatherInfo__description {
  display: flex;
  /* width: 20%; */
  justify-content: space-between;
  align-items: center;
}

.weatherInfo__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherInfo__weather {
  color: #000000;
  font-size: 2rem;
  padding: 0 20px;
  margin-left: 0;
}

.weatherInfo__temp {
  color: #000000;
  font-size: 7rem;
  margin: 1rem 0;
  font-weight: 200;
  margin-left: 50px;
  margin-bottom: 0;
  padding: 0 20px;
}

.weatherInfo__tempSpan {
  font-size: 5rem;
}
